@import url("chrome://global/skin/");
@import url("chrome://bookmarktags-platform/skin/tagBrowserSidebar.css");

splitter
{
    border: 0;
}

#queryCloud
{
    margin-top: 0.5em;
}

#queryCloud[nonempty]
{
    margin-bottom: 0.5em;
}

#queryCloud label.text-link:hover,
#queryCloud label.text-link:focus,
#queryCloud label.text-link:hover:active
{
    text-decoration: underline;
    color:           green;
}

#toolbar
{
    padding-top: 0.5em;
}

#tagDisplayButton
{
    list-style-image: url('chrome://bookmarktags-platform/skin/tag.png');
}

#bmSortButton
{
    list-style-image: url('chrome://bookmarktags-platform/skin/star.png');
}
#toolbar > #search-box .textbox-search-clear
{
    padding: 2px;
    border : none;
    background-image: none !important;
    background-color: transparent !important;
    cursor: pointer;
    list-style-image: url("chrome://global/skin/icons/close.png");
    -moz-image-region: rect(0px 14px 14px 0px);
}
#toolbar > #search-box .textbox-search-clear:hover
{
	-moz-image-region: rect(0px, 28px, 14px, 14px);
}
#toolbar >  #search-box .textbox-search-clear:hover:active
{
	-moz-image-region: rect(0px, 42px, 14px, 28px);
}
